body
{
    background-color: #34495e;
}

.Header
{
    text-align: center;
    font-size: 40px;
    margin: 150px;
    color: white;
}

.Projects
{
    text-align: center;
    font-size: 40px;
    margin: 150px;
    color: white;
}

h2
{
    padding-bottom: 20px;
    animation-name: Text;
    animation-duration: 10s;
    animation-iteration-count: 1000;
}

@keyframes Text
{
  0% {color: white;}
  25% {color: yellow;}
  50% {color: pink;}
  75% {color: yellow;}
  100% {color: white;}
}

button
{
    position: center;
    margin: 10px;
    width: 200px;
    background-color: #34495e;
    color: white;
    border: 3px solid white;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover
{
  background-color: white;
  color: #34495e;
}
